<footer class="footer">
  <div class="container">
    <small>The writers app. By woz.</small>
    <nav>
      <ul>
        <li><%= link_to "Home", "#" %></li>
      </ul>
    </nav>
  </div>
</footer>